<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action = '/admin-panel/'>
        {% csrf_token %}
        <input type = 'submit' value = 'назад'>
    </form>
    <form method = 'post'>
        {% csrf_token %}
        кого зарегать?<br/>
        Имя: <input type = 'text' name = 'first'><br/>
        Фамилия: <input type = 'text' name = 'last'><br/>
        Класс: <input type = 'text' name = 'grade'><br/>
        <input type = 'submit'>
    </form>
    <form method="post">
        {% csrf_token %}
        <input value='зарегать всех' name="zaregat" type="submit"/>
    </form>
    <form method = 'post'>
        {% csrf_token %}
        <input type = 'text' name = 'search'><input type = 'submit' value = 'поиск' ><br/>
    </form>
    <br/>
    <form method="post">
        {% csrf_token %}
        Начислить <input type='number' name="howmuch"> хорокоинов на весь <input  type="number" name = 'clas'/> класс по причине: <input type="text" name="why"/><br/>
        <input type="submit" name = 'zmak'>
    </form>
    <br/>
    {% for user in users %}
        Логин:{{ user.username }}, Имя и фамилия: {{ user.first_name }} {{ user.last_name }}, Класс: {{ user.profile.grade }}, Счёт : {{ user.profile.balance }}<br/>
        <form method = 'post'>
            {% csrf_token %}
            Сколько начислить :<input type = 'number' name = 'pop'><br/>
            За что :<input type = 'text' name = 'reason'><br/>
            <input type = 'submit' value = 'Выполнить' name = {{ user.username }} /><br/>
        </form>
        <form method="post">
            {% csrf_token %}
            Сколько отнять :<input type = 'number' name = 'otn'><br/>
            За что :<input type = 'text' name = 'rsn'><br/>
            <input type = 'submit' value = 'Выполнить' name = {{ user.username }} /><br/>
        </form>
        <br/>
    {% endfor %}
</body>
</html>