<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
</head>
<body>
<style>
    .block {
        margin-left: 1000px;
    }
</style>
<center>
    <div>
        Добро пожаловать , {{ curuser.first_name }}<br/>
        Счёт : {{ curuser.email }}
        <form method = 'post'>
            {% csrf_token %}
            <input type = 'submit' value = 'Личный кабинет' name = 'lk'>
        </form>
    </div>
</center>
    {% for tovar in tovars %}
        <div class="col-md-1">
            <div class="card">
                <img width = '120' height = '120' class="card-img-top" src={{ tovar.url }}/>
                <div class="card-body">
                    <h5 class="card-title">{{ tovar.name }}</h5>
                    <p class="card-text">Цена: {{ tovar.price }}</p>
                    <form method = 'post'>
                        {% csrf_token %}
                        <input class="btn btn-primary" type = 'submit' value = 'подробнее' name = {{ tovar.name }} />
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}
</body>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</html>